v1.swvictory.com {
	handle /healthz {
		reverse_proxy 172.18.0.1:18080
	}

	handle /readyz {
		reverse_proxy 172.18.0.1:18080
	}

	handle /api/* {
		reverse_proxy 172.18.0.1:18080
	}

	handle /uploads/* {
		reverse_proxy 172.18.0.1:18080
	}

	handle /ws* {
		reverse_proxy 172.18.0.1:18080
	}

	handle {
		reverse_proxy 172.18.0.1:18081
	}
}

{$API_DOMAIN} {
	handle /api/* {
		reverse_proxy api:8088
	}

	handle {
		root * /srv/drone-v2-frontend
		header {
			Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0"
			Pragma "no-cache"
			Expires "0"
		}
		try_files {path} /index.html
		file_server {
			precompressed gzip
		}
	}
}
